* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.content button {
    width: 25px;
    height: 25px;
    align-items: center;
}

.foot {
    border-top: solid 2px;
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.model {
    visibility: hidden;
    display: none;
}