*{
    margin: 0;
    box-sizing: border-box;
}
#container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "h h" "m1 m3" "m2 m3"
}
.nav{
    display: flex;
}
.nav img{
    height: 55px;
    width: 70px;
    margin: 5px;
}
header{
    height: 7vh;
    grid-area: h;
    background-color: rgb(207, 207, 210);
}
.icons{

}
.mid{
    height: 40vh;
    grid-area: m1;
    background-color: rgb(182, 182, 182);
    border: 1px solid black;   
    margin-left: 5%; 
    margin-top: 8%;

}
.mid2{
    height: 50vh;
    grid-area: m2;
    background-color: rgb(182, 182, 182);
    border: 1px solid black;
    margin-top: 5%;
    margin-left: 5%;
}
.mid3{ 
    height: 80vh;
    grid-area: m3;
    background-color: rgb(182, 182, 182);
    border: 1px solid black;
    margin-left: 3%;
    margin-top: 4%;
    margin-right: 5%;
}