* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info-funcionario {
    width: 80vw;
    height: 10vh;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 0 15px;
}

#img-funcionario {
    width: 8vh;
    height: 8vh;
}

.info-funcionario > button > img {
    width: 32px;
}

.model {
    visibility: hidden;
    display: none;
}
