/* Exercício 1 */
header{
    font: Arial;
}
.hd h1{
    margin-bottom: -2%;
}
.aa{
    margin-left: 92%;
}
.item{
    margin-top: 2%;
}
.item2{
    display: flex; 
    margin-top: 2%;
}
.itens{
    margin-left: 2%;
}.item3{
    margin-top: 2%;
    display: flex;
}
.item3 p{
    margin-left: 1%;
}
/* Exercício 2 */
.table{
    margin-top: 10%;
    border-collapse: collapse;
    width: 35%;
    margin-left: 30%;
    font: arial;   
}
.table th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(139, 139, 139);
}
.table td{
    padding: 8px;
    text-align: left;
    border-top: 2px solid rgb(138, 138, 138);
}
