body{
    background-image: url("../img/fundo.jpg");
	background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    height: 100%;
    flex-direction: column;
    text-align: center;
}
.foto{
    width: 400px;
    height: 400px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    
}
.foto:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 25px;
    width: 70%;
    height: 300px;
    margin-left: 15%;
    margin-top: 4%;
}
.content{
    background-color: rgb(185, 185, 185);
    text-align: center;
    box-shadow: 2px 2px 2px;
    cursor: pointer;
}
.content:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}
.p{
    color: rgb(13, 167, 214);
    font-size: 30px;
}
.h1{
    font-size: 45px;
}
.lg{
    color: rgb(13, 167, 214);
}
.button{
    height: 45px;
	border: none;
    border-radius: 30px;
	width: 200px;
	background-color: rgb(13, 167, 214);
	color:white;
    margin-top: 2%;
    margin-left: 44%;
    font-size: 20px;
    cursor: pointer;
}
.button:hover{
	background-color: rgb(38, 191, 238);
	color: white;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}