body{
	background-color: #00ffff;
}
button{
	height: 30px;
	border: 2;
	width: 125px;
}
button:hover{
	background-color: lightBlue;
	color: white;
}
.temp{
	background-image: url("../img/ceu.jpg");
	height: 75px;
}
table{
	background-color: white;
}